<!DOCTYPE HTML>
<html>
	<head>
	<title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
		
	<!-- <div class="colorlib-loader"></div> -->

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html">Camera Shutter</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
			            <form action="#" class="search-wrap">
			               <div class="form-group">
			                  <input type="search" class="form-control search" placeholder="Search">
			                  <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
			               </div>
			            </form>
			         </div>
		         </div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
										<li class="active"><a href="/admin">Admin Dashboard</a></li>
								<li><a href="/admin/allUsers">All Users</a></li>
								<li><a href="/admin/allCategory">All Category</a></li>
								<li><a href="/admin/admin-orderList">Orders</a></li>
								<li><a href="/admin/admin-coupons">Coupons</a></li>
									<li><a href="/admin/admin-orderList">OrderList</a></li>
				         
							</ul>
						
						</div>
					</div>
				</div>
			</div>
	
		



<section>

    <div class="container">
      <div class="row mt-5">
        {{!-- <a href="/admin/add-User" class="btn btn-success  ">Add User</a> --}}
        
        <a href="/admin/logout" class="btn btn-danger ml-auto ">LOGOUT</a>
      </div>
 <table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      {{!-- <th scope="col">Password</th> --}}
      {{!-- <th scope="col">admin</th> --}}
      <th scope="col">Blocked-status</th>
      {{!-- <th>Image</th> --}}
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this._id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      {{!-- <td>{{this.Password}}</td> --}}
      {{!-- <td>{{this.Admin}} </td> --}}
      <td>{{this.Blocked}} </td>
    
    
      <td>
      {{#if this.Blocked}}
        <button class="btn btn-success btn-sm btn-block" onclick="window.location.href='/admin/adminUn_block_user?userId={{this._id}}'">Un_block</button>
      {{else}}
        <button class="btn btn-warning btn-sm btn-block" onclick="confirmBlock('{{this._id}}')">block</button>
      {{/if}}
    </td>
  </tr>
{{/each}}

<script>
  function confirmBlock(userId) {
    const confirmed = confirm("Are you sure you want to block this user?");
    if (confirmed) {
      window.location.href = '/admin/adminblock_user?userId=' + userId;
    }
  }
</script>









   
  </tbody>
</table>
    </div>
</section>






  