<!DOCTYPE HTML>
<html>
	<head>
	<title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
		
	<!-- <div class="colorlib-loader"></div> -->

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html">Admin Pannel</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
			            <form action="#" class="search-wrap">
			              
			            </form>
			         </div>
		         </div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
									<li class="active"><a href="/admin">Dashboard</a></li>
									<li class="active"><a href="/admin/productListing"> Product</a></li>
								<li><a href="/admin/allUsers">All Users</a></li>
								<li><a href="/admin/allCategory">All Category</a></li>
								<li><a href="/admin/admin-orderList">Orders</a></li>
								<li><a href="/admin/admin-coupons">Coupons</a></li>
									<li><a href="/admin/admin-orderList">OrderList</a></li>
									<li><a href="/admin/admin-banners">Banner</a></li>
								          
							
							</ul>
						
						</div>
					</div>
				</div>
			</div>
	
		<div class="colorlib-intro">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2 class="intro">It started with a simple idea: Create quality, well-designed products that I wanted myself.</h2>
					</div>
				</div>
			</div>
		</div>
         <div class="card shadow mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <form action="/admin/edit-coupon/{{coupon._id}}" method="post" ">
                      <div class="form-group mb-3">
                        <label for="simpleinput">Coupon Code</label>
                        <input type="text" name="couponCode" class="form-control" value="{{coupon.couponCode}}" />
                      </div>
                      <div class="form-group mb-3">
                        <label for="simpleinput">Coupon Description</label>
                        <input type="text" name="couponDescription" class="form-control" value="{{coupon.couponDescription}}" />
                      </div>
                      <div class="form-group mb-3">
                        <label for="simpleinput">Discount</label>
                        <input type="number" name="discount" class="form-control" value="{{coupon.discount}}" />
                      </div>
                      <div class="form-group mb-3">
                        <label for="simpleinput">Max Discount</label>
                        <input type="number" name="maxDiscount" class="form-control" value="{{coupon.maxDiscount}}" />
                      </div>
                      <div class="form-group mb-3">
                        <label for="simpleinput">Min Amount</label>
                        <input type="text" name="minAmount" class="form-control" value="{{coupon.minAmount}}" />
                      </div>
                      <div class="form-group mb-3">
                        <label for="simpleinput">Creation Date</label>
                        <input type="text" name="creationDate" class="form-control" value="{{coupon.creationDate}}" />
                      </div>
                      <div class="form-group mb-3">
                        <label for="simpleinput">Expiration Date</label>
                        <input type="text" name="expirationDate" class="form-control" value="{{coupon.expirationDate}}" />
                      </div>
                      <button type="submit" class="btn mb-2 btn-success">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>