<!DOCTYPE HTML>
<html>
	<head>
	<title>Admin Pannel</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
		
	<!-- <div class="colorlib-loader"></div> -->

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html">Admin Pannel</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
							<form action="#" class="search-wrap">
								
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li class="active"><a href="/admin"> Dashboard</a></li>
								<li class="active"><a href="/admin/productListing"> Product</a></li>
								<li><a href="/admin/allUsers">All Users</a></li>
								<li><a href="/admin/allCategory">All Category</a></li>
								<li><a href="/admin/admin-orderList">Orders</a></li>
								<li><a href="/admin/admin-coupons">Coupons</a></li>
									<li><a href="/admin/admin-orderList">OrderList</a></li>
									<li><a href="/admin/admin-banners">Banner</a></li>



							</ul>

						</div>
					</div>
				</div>
			</div>
             <a href="/admin/add-banner"><button type="button" class="btn mb-2 btn-primary">Add Banner</button></a>
                <table class="table table-borderless table-striped">
              <thead>
                <tr role="row">
                  <th>Banner Title</th>
                  <th>Banner Image</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {{#if banners.length}}
                  {{#each banners}}
                  <tr>
                    <th scope="col">{{this.titleOne}},<br>{{this.titleTwo}},<br>{{this.titleThree}},<br>{{this.titleFour}}</th>
                    <td><img style="width:100px;height:50px" src="/product-images/{{this.bannerImage.[0]}}"></td>
                  </td>
                    <td>
                      <a href="/admin/admineditbanner?bannerId={{this._id}}"><button type="button"
                          class="btn mb-2 btn-primary">Edit</button></a>
                      {{#if this.isDeleted}}
                      <a href='/admin/adminrecoverbanner?bannerId={{this._id}}'><button type="button"
                          class="btn mb-2 btn-success">Recover</button></a>
                      {{else}}
                      <a href='/admin/admindeletebanner?bannerId={{this._id}}'><button type="button"
                          class="btn mb-2 btn-danger">Delete</button></a>
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                {{/if}}
              </tbody>
            </table>