
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brands font-weight-bold" href="#"><h3>Admin Panel</h3> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-5" id="navbarSupportedContents">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Orders</a>
        </li>
      
         <li class="nav-item">
          <a class="nav-link" href="/admin/allUsers">All Users</a>
        </li>
      
         
       
      </ul>
    
    </div>
    
  </div>
</nav>


<section>

    <div class="container">
      <div class="row mt-5">
        {{!-- <a href="/admin/add-User" class="btn btn-success  ">Add User</a> --}}
        
        <a href="/admin/logout" class="btn btn-danger ml-auto ">LOGOUT</a>
      </div>
 <table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      {{!-- <th scope="col">Password</th> --}}
      {{!-- <th scope="col">admin</th> --}}
      <th scope="col">Blocked-status</th>
      {{!-- <th>Image</th> --}}
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this._id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      {{!-- <td>{{this.Password}}</td> --}}
      {{!-- <td>{{this.Admin}} </td> --}}
      <td>{{this.Blocked}} </td>
    
    
     
        <td>
          {{!-- <button class="btn btn-primary btn-sm btn-block" onclick="window.location.href='/admin/adminedituser?userId={{this._id}}'">edit</button> --}}
    <button class="btn btn-danger btn-sm btn-block" onclick="window.location.href='/admin/admindeleteuser?userId={{this._id}}'">delete</button>
    
    {{#if this.Blocked}}
    <button class="btn btn-success btn-sm btn-block" onclick="window.location.href='/admin/adminUn_block_user?userId={{this._id}}'">Un_block</button></td>
    {{else}}
    <button class="btn btn-warning btn-sm btn-block"  onclick="window.location.href='/admin/adminblock_user?userId={{this._id}}'">block</button>
    {{/if}}
  </tr>
    </tr>
    {{/each}}
   
  </tbody>
</table>
    </div>
</section>






  