<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/productdetailspage.css">
    <link href="css/style.css" rel="stylesheet" />
    <style> .sp-iphone-banner { background-image: url(/product-images/{{product.Images}});}</style>

    <title> </title>
</head>

<body>
    
    <nav class="sp-main-nav">
        <div class="sp-main-nav-container">
            <div class="sp-nav-left-items">
            </div>

        </div>
    </nav>
    
    <main class="sp-main">
        <div class="sp-product-details-container">
            <section class="sp-product-details">
                <div class="sp-product-image sp-show" id="space-gray">
                    <div class="sp-product-image-container">
                             <img src="/product-images/{{product.Images}}" alt="product-image"  style="width:470px; height: 556px;" class="img-fluid mx-auto d-block" alt="img">
                    </div>
                </div>
                <div class="sp-product-selection">
                    <h1 class="sp-product-title">Buy {{product.Name}}</h1>
                    <h3 class="sp-product-price">For ₹{{product.Price}} </h3>
                    <div class="sp-variations-selection sp-finish-selection">
                        <h3 class="sp-section-subtitle"> {{product.Description}}</h3>
                    </div>
                    <a href="/addToCart/{{this._id}}">
                     <button class="sp-primary-button">
                        Add To Cart 
                    </button></a>
                    <button class="sp-primary-button">
                        Buy Now
                    </button>
                </div>
            </section>
        </div>
       
        <section class="sp-about-product sp-dark-section">
           
            <aside class="sp-iphone-banner">

            </aside>
        </section>
         
        <footer class="sp-footer">
            Copyright; PixelCart 2023
        </footer>
    </main>
    

    <script src="js/productdetailspage.js"></script>
</body>

</html>