<!DOCTYPE HTML>
<html>

<head>
	<title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
		integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
		crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
	{{!--
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script> --}}

	{{!--
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script> --}}
	{{!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> --}}


	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

</head>

<body>

	{{!-- <div class="colorlib-loader"></div> --}}

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html" style="color: black;">Camera Shutter</a></div>
						</div>
						{{!-- <div class="col-sm-5 col-md-3">
							<form action="#" class="search-wrap">
								<div class="form-group">
									<input type="search" class="form-control search" placeholder="Search">
									<button class="btn btn-primary submit-search text-center" type="submit"><i
											class="icon-search"></i></button>
								</div>
							</form>
						</div> --}}
					</div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li><a href="/">Home</a></li>


								<li><a href="about.html" style="color: black;">About</a></li>
								<li><a href="contact.html" style="color: black;">Contact</a></li>
								<li class="cart"><a href="/carts"><i class="icon-shopping-cart"></i> Cart [0]</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="sale">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center">
							<div class="row">
								<div class="owl-carousel2">
									<div class="item">
										<div class="col">
											<h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
										</div>
									</div>
									<div class="item">
										<div class="col">
											<h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span style="color: black;">Checkout</span>
						</p>
					</div>
				</div>
			</div>
		</div>


		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg">
					
				</div>
				{{#each address}}
				<div class="col-lg-4 mb-3">
					<div style="background-color: rgba(238, 235, 235, 0.829); color: rgb(44, 39, 39);"
						class="form-check h-100 border rounded-3">
						<div class="p-2">
							<form id="myForm"></form>
							<input class="form-check-input address-radio" value="{{this._id}}" type="radio"
								name="addressForDelivery" id="addressRadio" onclick="handleClick(this)">

							<input type="hidden" id="radio" value="">
							</form>
							<label class="form-check-label" for="addressRadio{{this._id}}">
								{{this.fname}} <br>
								{{this.lname}} <br>
								{{this.towncity}} <br>
								{{this.address1}} <br>
								{{this.address2}} <br>
								{{this.pincode}} <br>
								{{this.mobile}} <br>
								{{this.email}} <br>
							</label>
						</div>
					</div>
				</div>
				{{/each}}


				<div class="row">
					<div class="col-lg-8">
						<form action="/addNewAddress" method="post" class="colorlib-form">
							<h2>Billing Details</h2>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="country">Select Country</label>
										<div class="form-field">
											<i class="icon icon-arrow-down3"></i>
											<select name="people" id="people" class="form-control">
												<option value="#">Select country</option>
												<option value="#">Alaska</option>
												<option value="#">China</option>
												<option value="#">Japan</option>
												<option value="#">Korea</option>
												<option value="#">Philippines</option>
											</select>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="fname">First Name</label>
										<input type="text" name="fname" id="fname" class="form-control"
											placeholder="Your firstname">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="lname">Last Name</label>
										<input type="text" name="lname" id="lname" class="form-control"
											placeholder="Your lastname">
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label for="fname">Street Address</label>
										<input type="text" name="address1" id="address1" class="form-control"
											placeholder="House No and Street Id">
									</div>
									<div class="form-group">
										<input type="text" name="address2" id="address2" class="form-control"
											placeholder="Apartment, suite, unit etc: (optional)">
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label for="companyname">Town/City</label>
										<input type="text" name="towncity" id="towncity" class="form-control"
											placeholder="Town or City">
									</div>
								</div>


								<div class="col-md-6">
									<div class="form-group">
										<label for="lname">Zip/Postal Code</label>
										<input type="text" name="pincode" id="pincode" class="form-control"
											placeholder="Zip / Postal">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="email">E-mail Address</label>
										<input type="text" name="email" id="email" class="form-control"
											placeholder="Enter Your Email">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="mobile">Phone Number</label>
										<input type="text" id="mobile" name="mobile" class="form-control"
											placeholder="Enter the Number">
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<!-- Add a submit button here -->
										<button type="submit" class="btn btn-primary">Add Address</button>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<div class="radio">
											<label><input type="radio" name="optradio"> Create an Account? </label>
											<label><input type="radio" name="optradio"> Ship to different
												address</label>
										</div>
									</div>
								</div>
							</div>
						</form>
						<div>
							{{#if coupons}}
							<div class="col-lg-12">
								<div class="card mb-3 border shadow-0">
									<div class="card-body">
										<form>
											<button type="button" id="availableCoupon"
												class="btn btn-outline-primary mt-2" data-bs-toggle="modal"
												data-bs-target="#modalCoupon">Available Coupons</button>
											<div class="form-group">
												<label class="form-label">Have coupon?</label>
												<div class="input-group">
													<input type="text" class="form-control border mb-1" id="coupon"
														name="coupon" placeholder="Coupon code" />
													<a onclick="applyCoupon('{{total}}', '{{userData.wallet}}')"
														id="applyButton" class="btn btn-light border">Apply</a>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							{{else}}
							<input type="hidden" class="form-control border" id="coupon" name="coupon" value="0"
								placeholder="Coupon code" />
							{{/if}}
						</div>
					</div>



					<div class="col-lg-4">
						<div class="row">
							<div class="col-md-12">
								<div class="cart-detail">
									<h2>Cart Total</h2>
									<ul>
										<li><span>Wallet Amount</span>
											<p class="mb-2 text-danger fw-bold" style="padding-left: 14%;">
												{{this.wallet.balance}}</p>
										<li><span></span>
											<p class="mb-2 text-danger fw-bold" id="discount"
												style="padding-left: 14%;">{{this.discount}}</p>
										<li><span>Order Total</span>
											<p class="mb-2 text-danger fw-bold" id="totalValue"
												style="padding-left: 14%;">{{this.total}}</p>
											<div id="useWallet" class="form-check" style="padding-bottom: 10%;">
												<input type="checkbox" class="form-check-input" id="checkbox"
													onclick="walletRadioClick(this)">
												<label class="form-check-label" for="exampleCheck1">Use wallet</label>
											</div>

									</ul>
								</div>
							</div>

							<h6 class="text-dark my-4">Items in cart</h6>
							<div class="container">
								<div class="row justify-content-center">
									{{#each cartItems}}
									<div class="d-flex flex-wrap mt-4">
										<!-- Retrieve category data -->
										<div class="me-3 position-relative">
											<span
												class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary"
												style="background-color: #eb2109;">
												{{this.quantity}}
											</span>
											<img src="/product-images/{{this.product.Images.[0]}}"
												style="height: 96px; width: 96px;" class="img-sm rounded border" />
										</div>
										<div>
											<h6 href="#" class="nav-link"
												style="margin: 0%; padding: 0%; text-transform: capitalize; width: 130px;">
												{{this.product.Name}}
											</h6>
										</div>
										<div>
											<h6 href="#" class="nav-link"
												style="margin: 0%; padding: 0%; text-transform: capitalize; width: 130px;">
												{{ formatPrice this.product.Price}}
											</h6>
										</div>
									</div>
									{{/each}}
									</li>
								</div>
							</div>


							<div class="w-100"></div>

							<div class="cart-detail bg-light p-3 p-md-4" style="padding-left: 300px;">
								<h3 class="billing-heading mb-4">Payment Method</h3>
								<div class="form-group">
									<div class="col-md-12">
										<div class="radio">
											<label><input type="radio" name="paymentMethod" id="COD" value="COD"
													class="mr-2  payment">Cash On Delivery</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12">
										<div class="radio">
											<label><input type="radio" name="paymentMethod" id="ONLINE" value="ONLINE"
													class="mr-2 payment">Online Payment</label>
										</div>
									</div>
								</div>
							</div>


							<div class="modal fade top" id="modalCoupon" tabindex="-1" aria-labelledby="myModalLabel"
								aria-hidden="true" data-bs-backdrop="true">
								<div class="modal-dialog modal-frame modal-top modal-notify modal-success"
									role="document">
									<!-- Content -->
									<div class="modal-content">
										<!-- Body -->

										<div class="modal-body">
											{{#each coupons}}

											<div
												class="row d-flex justify-content-center align-items-center border rounded">
												<div class="col-12 col-md-12 d-flex">
													<div
														class="code-container col-3 col-md-3 d-flex align-items-center">
														<p>
															<span class="badge" id="couponCode{{@index}}"
																style="color: black;">
																{{this.couponDescription}}
															</span>
															<input type="text" value="{{this.couponCode}}"
																id="myInput{{@index}}" style="border: none;" readonly>
														</p>
													</div>
													<div
														class="content-copy-container col-9 col-md-9 d-flex align-items-center">
														<p class="pt-3 mx-4">
															<strong class="ml-5"> &#8377;{{this.discount}}
																discount</strong>.
														</p>
														<button type="button" id="coupon-btn" data-id="{{this._id}}"
															class="btn btn-success copy-button ms-auto"
															data-index="{{@index}}" onclick="myFunction('{{@index}}')">
															<svg xmlns="http://www.w3.org/2000/svg" width="16"
																height="16" fill="currentColor"
																class="bi bi-clipboard-minus" viewBox="0 0 16 16">
																<path fill-rule="evenodd"
																	d="M5.5 9.5A.5.5 0 0 1 6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
																<path
																	d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
																<path
																	d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
															</svg>
														</button>
													</div>
												</div>
											</div>
											{{/each}}

											<div class="close-container d-flex justify-content-end mt-2">
												<button type="button" class="btn btn-outline-success"
													data-bs-dismiss="modal">No,
													thanks</button>
											</div>
										</div>
									</div>
									<!--/.Content-->
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 text-center">



									<button type="button" id="" onclick="placeOrder()">Place Order</button>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-center">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer id="colorlib-footer" role="contentinfo">
				<div class="container">
					<div class="row row-pb-md">
						<div class="col footer-col colorlib-widget">
							<h4>About Footwear</h4>
							<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
								unorthographic life</p>
							<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
							</p>
						</div>
						<div class="col footer-col colorlib-widget">
							<h4>Customer Care</h4>
							<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">Contact</a></li>
								<li><a href="#">Returns/Exchange</a></li>
								<li><a href="#">Gift Voucher</a></li>
								<li><a href="#">Wishlist</a></li>
								<li><a href="#">Special</a></li>
								<li><a href="#">Customer Services</a></li>
								<li><a href="#">Site maps</a></li>
							</ul>
							</p>
						</div>
						<div class="col footer-col colorlib-widget">
							<h4>Information</h4>
							<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">About us</a></li>
								<li><a href="#">Delivery Information</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Order Tracking</a></li>
							</ul>
							</p>
						</div>

						<div class="col footer-col">
							<h4>News</h4>
							<ul class="colorlib-footer-links">
								<li><a href="blog.html">Blog</a></li>
								<li><a href="#">Press</a></li>
								<li><a href="#">Exhibitions</a></li>
							</ul>
						</div>

						<div class="col footer-col">
							<h4>Contact Information</h4>
							<ul class="colorlib-footer-links">
								<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
								<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
								<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
								<li><a href="#">yoursite.com</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copy">
					<div class="row">
						<div class="col-sm-12 text-center">
							<p>
								<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
									Copyright &copy;
									<script>document.write(new Date().getFullYear());</script> All rights reserved |
									This
									template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
										href="https://colorlib.com" target="_blank">Colorlib</a>
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</span>
								<span class="block">Demo Images: <a href="http://unsplash.co/"
										target="_blank">Unsplash</a>
									, <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<div class="gototop js-top">
			<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
		</div>

		<!-- jQuery -->
		<script src="/js/jquery.min.js"></script>
		<!-- popper -->
		<script src="/js/popper.min.js"></script>
		<!-- bootstrap 4.1 -->
		<script src="/js/bootstrap.min.js"></script>
		<!-- jQuery easing -->
		<script src="js/jquery.easing.1.3.js"></script>
		<!-- Waypoints -->
		<script src="js/jquery.waypoints.min.js"></script>
		<!-- Flexslider -->
		<script src="js/jquery.flexslider-min.js"></script>
		<!-- Owl carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Magnific Popup -->
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/magnific-popup-options.js"></script>
		<!-- Date Picker -->
		<script src="js/bootstrap-datepicker.js"></script>
		<!-- Stellar Parallax -->
		<script src="js/jquery.stellar.min.js"></script>
		<!-- Main -->
		<script src="js/main.js"></script>
		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
			media="screen">


		<script>
			$(document).ready(function () {
				$('#modalCoupon').modal({
					show: false
				});
			});
		</script>






		<script>
			let total = parseInt('{{this.total}}')
			let walletBalance = parseInt('{{this.wallet.balance}}')
			if (walletBalance >= total) {
				
				document.getElementById('useWallet').hidden = false
			}
			let addressId
			function handleClick(element) {
				addressId = element.value;
				console.log('selected value here', addressId)


				$.ajax({
					url: '/changePrimaryAddress',
					data: {
						addressId: addressId
					},
					method: 'post',
					success: (response) => {
						console.log("succeeded ");
					},
					error: (error) => {
						console.log("failed ", error);
					}
				});
			}
		</script>

		<script>

			function applyCoupon(total, wallet) {

				const coupon = document.getElementById('coupon').value

				

				$.ajax({
					url: '/user_applaycoupon',
					method: 'post',
					data: {
						couponCode: coupon,
						cartTotal: total,
					},
					success: (response) => {
						console.log(response, 'response here')
						document.getElementById('coupon').readOnly = true;
						document.getElementById('availableCoupon').style.display = 'none';
						document.getElementById('applyButton').disabled = true;
						const total = parseInt(document.getElementById('totalValue').innerText);


						const discount = parseInt(document.getElementById('discount').value)

						console.log(total, response.discount, discount)
						document.getElementById('discount').innerContent = discount + parseInt(response.discount);
						document.getElementById('totalValue').innerText = total - parseInt(response.discount)

						const tot = parseInt(document.getElementById('totalValue').innerHTML);
						if (tot >= wallet) {
							// Enable the button
							{
								{{!-- {
									!--document.getElementById('walletButton').disabled = false;
									document.getElementById('walletButton').innerHTML = "Use wallet"; --} --}}
							}
						} else {
							// Disable the button and display "Insufficient Funds"
							{
								{{!-- {
									!--document.getElementById('walletButton').disabled = true;
									document.getElementById('walletButton').innerHTML = "Insufficient Funds"; --} --}}
							}
						}
					}
				})
			}

			function myFunction(index) {
				var copyText = document.getElementById("myInput" + index);
				copyText.select();
				copyText.setSelectionRange(0, 99999)
				navigator.clipboard.writeText(copyText.value)
					.then(function () {
						console.log("Text copied to clipboard: " + copyText.value);
						var noThanksButton = document.querySelector('.close-container button');
						if (noThanksButton) {
							noThanksButton.click();
						}
					})
					.catch(function (err) {
						console.error("Failed to copy text: " + err);
					});
			}


		</script>
		<script>
			let discount = JSON.parse(localStorage.getItem('discountAmount'))
			console.log(discount)

			
			function placeOrder() {
				let isWalletUsed = document.getElementById('checkbox').checked;
				localStorage.removeItem('discountAmount')
				if (isWalletUsed) {
                totalValue = originalTotal;
                }
				
				var payment = $('.payment:checked').val()
				var address = $('.address-radio').val()

				if (!payment&&!address) {
					Swal.fire({
						title: ' NO PAYMENT FOUND!',
						text: 'please select your Payemnt.',
						icon: 'error',
						timer: 3000,
					})
				}
				if (!address) {
					Swal.fire({
						title: ' NO ADDRESS FOUND!',
						text: 'please select your adress.',
						icon: 'error',
						timer: 3000,
					})
				} else{
                  	let totalValue = parseInt(document.getElementById('totalValue').innerHTML)
						console.log("succeeded ")
						
				$.ajax({
					url: '/checkout',
					method: 'post',
					data: {
						paymentMethod: payment,
						discount: discount,
						total: totalValue,
						isWalletUsed,
					},
					success: (response) => {
						console.log(response, 'response')
						console.log("succeeded ajjx")
						if (response.method == "COD") {
							console.log('chkkkkkkkk cod')
							window.location.href = '/orderSuccess'
						}
						else if (response.method == "ONLINE") {
							razorpayPayment(response.order, response.razorpayOrder.id)

						}
					}
				});
				}
			
			}
			function razorpayPayment(order, razorpayId) {
				console.log("here2")
				let options = {
					"key": "rzp_test_pGz4qvobcKcY0w", // Enter the Key ID generated from the Dashboard
					"amount": order.totalPrice, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
					"currency": "INR",
					"name": "Camera Shutter", //your business name
					"description": "Test Transaction",
					"image": "https://example.com/your_logo",
					"order_id": razorpayId, //This is a sample Order ID. Pass the id obtained in the response of Step 1
					"handler": function (response) {


						verifyPayment(response, order)
					},
					"prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
						"name": "Gaurav Kumar", //your customer's name
						"email": "gaurav.kumar@example.com",
						"contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
					},
					"notes": {
						"address": "Razorpay Corporate Office"
					},
					"theme": {
						"color": "#3399cc"
					}
				};
				var rzp1 = new Razorpay(options);
				rzp1.open();
			}


			function verifyPayment(payment, order, orderId) {
				console.log("in verify payment");
				$.ajax({
					url: '/verifyPayment',
					data: {
						payment,
						order,
						orderId
					},
					method: 'post',
					success: (response) => {
						if (response.status) {
							window.location.href = '/orderSuccess';
						} else {
							alert("Payment failed");
						}
					}
				});
			}

		</script>
		<script>

			function walletRadioClick(radioButton) {
				document.getElementById('checkbox').disabled=true
				let originalTotal = parseFloat('{{this.total}}');
				const totalElement = document.getElementById('totalValue');
				const total = parseFloat(totalElement.textContent);
				let lastTotal = total;
				console.log('total====', total);

				const wallet = parseFloat('{{this.wallet.balance}}');
				const useWalletButton = document.getElementById('useWallet'); 
			
				if (radioButton.checked) {
					if (originalTotal < wallet) {
						totalElement.textContent = 1;
					} else {
						totalElement.textContent = total - wallet;
						wallet = 0;
					}


					// Disable the "Use wallet" button
					useWalletButton.disabled = true;
				} else {
					totalElement.textContent = lastTotal;
					// Enable the "Use wallet" button
					useWalletButton.disabled = false;
				}
			}
		</script>





</body>

</html>


<script>

	{
		{
			!-- function getCouponData(buttonElement) {
				var data = buttonElement.getAttribute("data-id");
				console.log(data)
			} --}
	}

	const couponBtns = document.querySelectorAll('#coupon-btn')
	couponBtns.forEach((btn, index) => {
		btn.addEventListener('click', function () {
			const id = btn.getAttribute('data-id')
			console.log(id)



			// Define the URL for your POST request
			const url = `/getCoupon/${id}`;

			// Create an object with the data you want to send in the request body


			// Create the request headers
			const headers = {
				'Content-Type': 'application/json', // Adjust the content type as needed
				// You may also need to include authentication headers or other headers as required
			};

			// Create the fetch options object
			const options = {
				method: 'GET', // HTTP method
				headers: headers, // Request headers
			};

			fetch(url, options)
				.then(response => {

					return response.json(); // Parse the response body as JSON
				})
				.then(data => {
					// Handle the JSON data returned in the response
					console.log(data.response.discount)
					document.getElementById('discount').textContent = data.response.discount

					localStorage.setItem('discountAmount', JSON.stringify(data.response.discount))

				})
				.catch(error => {
					// Handle any errors that occurred during the fetch
					console.error('Fetch error:', error);
				});
		})
	})


</script>

<script>
    function trimInput(input) {
        return input.trim();
    }

    // Function to validate the form
    function validateForm() {
        // Get form inputs by their IDs
        var fname = document.getElementById("fname").value;
        var lname = document.getElementById("lname").value;
        var address1 = document.getElementById("address1").value;
        var towncity = document.getElementById("towncity").value;
        var pincode = document.getElementById("pincode").value;
        var email = document.getElementById("email").value;
        var mobile = document.getElementById("mobile").value;

        // Trim input values
        fname = trimInput(fname);
        lname = trimInput(lname);
        address1 = trimInput(address1);
        towncity = trimInput(towncity);
        pincode = trimInput(pincode);
        email = trimInput(email);
        mobile = trimInput(mobile);

        // Check if any required field is empty
        if (
            fname.trim() === "" ||
            lname.trim() === "" ||
            address1.trim() === "" ||
            towncity.trim() === "" ||
            pincode.trim() === "" ||
            email.trim() === "" ||
            mobile.trim() === ""
        ) {
            alert("Please fill in all required fields.");
            return false;
        }

        // Mobile number validation (at least 6 different digits)
        if (!isValidMobileNumber(mobile)) {
            alert("Please enter a valid mobile number with at least 6 different digits.");
            return false;
        }

        return true; // Form is valid
    }

    // Function to validate a mobile number (at least 6 different digits)
    function isValidMobileNumber(number) {
        if (/^\d+$/.test(number)) {
            var uniqueDigits = new Set(number); // Use a Set to track unique digits
            return uniqueDigits.size >= 6; // Ensure at least 6 unique digits
        }
        return false;
    }

    // Attach the validateForm function to the form's onsubmit event
    document.querySelector(".colorlib-form").onsubmit = validateForm;
</script>