<!DOCTYPE HTML>
<html>

<head>
	<title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">


	<link rel="stylesheet" href="/css/animate.css">

	<link rel="stylesheet" href="/css/icomoon.css">

	<link rel="stylesheet" href="/css/ionicons.min.css">

	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<link rel="stylesheet" href="/css/magnific-popup.css">


	<link rel="stylesheet" href="/css/flexslider.css">


	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">


	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">

	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">


	<link rel="stylesheet" href="/css/style.css">

</head>

<body>



	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html" style="color: black;">Camera Shutter</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
							<div class="search-wrap">
								<input id="searchInput" type="text" class="form-control search" placeholder="Search">
								<button id="searchButton" class="btn btn-primary submit-search text-center"
									type="button"><i class="icon-search"></i></button>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li class="active"><a href="/" style="color: black;">Home</a></li>
								<li><a href="/">Products</a></li>
								<li><a href="/userDetails" style="color: black;">User Profile</a></li>
								<li class="cart"><a style="color: black;" href="/carts"><i
											class="icon-shopping-cart"></i> Cart</a></li>
								<li class="cart"><a href="/logout"><i class="icon-switch"></i> Logout</a></li>

							</ul>

						</div>
					</div>
				</div>
			</div>

			<div class="sale">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center">
							<div class="row">
								<div class="owl-carousel2">
									<div class="item">
										<div class="col">
											<h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
										</div>
									</div>
									<div class="item">
										<div class="col">
											<h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</nav>
	</div>
	<div class="colorlib-intro">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="intro" style="color: black;">Save your Memories, Record your Actions,</h2>
					<h2 class="intro" style="color: black;">Survive with Surveillance</h2>
				</div>
			</div>
		</div>
	</div>
	<div style="display: flex; flex-direction: row;">
		{{>userFilter}}
		<div class="colorlib-product" style="padding: 0em;">
			<div class="container">
				<div class="row row-pb-md" style="display: flex;">
					{{#each products}}
					<div class="col-lg-3 col-sm-6 mt-3">
						<a href="/productdetails/{{this._id}} ">
							<div class="card" style="border-color: black;">
								<img src="/product-images/{{selectFirst this.Images}}" alt="product-image"
									style="width: 220px; height: 190px;;" class="img-fluid mx-auto d-block" alt="img">
								<div class="card-body text-center">
									<h5 class="card-title">{{this.Name}}</h5>
									<h5 class="card-title">{{this.Price}}</h5>
									{{!-- <p class="card-text">₹<del>&#8377;{{this.Price}}</del></p> --}}
									{{!-- <p class="card-text">₹{{this.OfferPrice}}</p> --}}

								</div>
							</div>
						</a>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="paginationhome" style="display: flex; justify-content: center;">
			<ul class="unlist" style="list-style: none; padding: 0; margin: 0; display: flex; align-items: center;">
				{{#if (gt currentPage 1)}}
				<li style="margin-right: 10px;"><a href="/home?page={{sub currentPage 1}}"><button
							class="btn mb-2 btn-secondary">Previous</button></a></li>
				{{/if}}

				{{#each pages}}
				{{#if (eq this ../currentPage)}}
				<li style="margin-right: 10px;" class="active"><a href="#"><button type="button"
							class="btn mb-2 btn-primary">{{this}}</button></a></li>
				{{else}}
				<li style="margin-right: 10px;"><a href="/home?page={{this}}"><button type="button"
							class="btn mb-2 btn-secondary">{{this}}</button></a></li>
				{{/if}}
				{{/each}}

				{{#if (lt currentPage totalPages)}}
				<li style="margin-right: 10px;"><a href="/home?page={{add currentPage 1}}"><button
							class="btn mb-2 btn-secondary">Next</button></a></li>
				{{/if}}
			</ul>
		</div>
	</div>

	<div class="colorlib-partner">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
					<h2>Trusted Partners</h2>
				</div>
			</div>
			<div class="row">
				<div class="col partner-col text-center">
					<img src="/images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
				<div class="col partner-col text-center">
					<img src="/images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
				<div class="col partner-col text-center">
					<img src="/images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
				<div class="col partner-col text-center">
					<img src="/images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
				</div>
			</div>
		</div>
	</div>

	<footer id="colorlib-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col footer-col colorlib-widget">
					<h4>About Footwear</h4>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
						unorthographic life</p>
					<p>
					<ul class="colorlib-social-icons">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4>Customer Care</h4>
					<p>
					<ul class="colorlib-footer-links">
						<li><a href="#">Contact</a></li>
						<li><a href="#">Returns/Exchange</a></li>
						<li><a href="#">Gift Voucher</a></li>
						<li><a href="#">Wishlist</a></li>
						<li><a href="#">Special</a></li>
						<li><a href="#">Customer Services</a></li>
						<li><a href="#">Site maps</a></li>
					</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4>Information</h4>
					<p>
					<ul class="colorlib-footer-links">
						<li><a href="#">About us</a></li>
						<li><a href="#">Delivery Information</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Order Tracking</a></li>
					</ul>
					</p>
				</div>

				<div class="col footer-col">
					<h4>News</h4>
					<ul class="colorlib-footer-links">
						<li><a href="blog.html">Blog</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Exhibitions</a></li>
					</ul>
				</div>

				<div class="col footer-col">
					<h4>Contact Information</h4>
					<ul class="colorlib-footer-links">
						<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
						<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
						<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
						<li><a href="#">yoursite.com</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p>
						<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | This
							template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
								href="/public/https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
						<span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a
								href="/public/http://pexels.com/" target="_blank">Pexels.com</a></span>
					</p>
				</div>
			</div>
		</div>
	</footer>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>


	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- popper -->
	<script src="/js/popper.min.js"></script>
	<!-- bootstrap 4.1 -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- jQuery easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="/js/main.js"></script>


	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.all.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.css" rel="stylesheet">

	<script>

		document.addEventListener('DOMContentLoaded', function () {
			const productCategory = new Set();
			const productRange = new Set();
			let sort = undefined
			let search;
			let pcategory = []
			let pr = []
			function categoryAddOrRemoveble(value) {
				if (productCategory.has(value)) {
					productCategory.delete(value);
				} else {
					productCategory.add(value);
				}
			}


			function rangeAddOrRemovable(value) {
				if (productRange.has(value)) {
					productRange.delete(value);
				} else {
					productRange.add(value)
				}
			}

			const categoryButton = document.querySelectorAll('.category-control-input');

			const priceButton = document.querySelectorAll('.price-control-input');

			const selectElement = document.querySelector('.sort-control-input')

			const productsContainer = document.querySelector('.colorlib-product .container .row.row-pb-md');
			const searchInput = document.getElementById('searchInput');
			const searchButton = document.getElementById('searchButton')
			search = searchInput.value;
            
			{{!-- const paginationButtons = document.querySelectorAll('.pagination-button');
			const productsContainer = document.querySelector('.colorlib-product .container .row.row-pb-md');
			const paginationContainer = document.querySelector('.paginationhome .unlist'); --}}

			categoryButton.forEach(button => {
				button.addEventListener('change', async () => {
					const category = button.getAttribute('data-category');
					categoryAddOrRemoveble(category)// i have doubts category or name
					pcategory = [...productCategory]

					fetch('/filterProduct', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({
							productRange: pr,
							productCategory: pcategory,
							sort: sort,
							search: search,
						}),
					})
						.then((response) => response.json())
						.then((data) => {
							if (data.noProducts) {
								Swal.fire({
									title: 'No matching products',
									confirmButtonText: 'OK',
									confirmButtonColor: '#88c8bc',
								}).then((result) => {
									console.log('fail');
									if (result.isConfirmed) {
										window.location.href = '/home';
									}
								});
							} else {
								updateProducts(data.products);
							}
						})
						.catch((error) => {
							console.error('Error:', error);
						});
				})
			})

			priceButton.forEach(button => {

				button.addEventListener('change', async () => {

					let price = button.getAttribute('data-range');
					rangeAddOrRemovable(price)
					pr = [...productRange]
					$.ajax({
						url: '/filterProduct',
						data: {
							productRange: pr,
							productCategory: pcategory,
							sort: sort,
							search: search
						},
						method: 'post',
						success: (response) => {
							if (response.noProducts) {
								Swl.fire({
									title: 'No matching product',
									confirmButtonText: 'OK',
									confirmButtonColor: '#88c8bc',
								}).then((result) => {
									if (result.isConfirmed) {
										window.location.href = '/home'
									}
								})
							} else {
								updateProducts(response.products);
							}
						}
					})
				})
			})
			
			searchButton.addEventListener('click', function () {
				search = searchInput.value;
				$.ajax({
        url: '/filterProduct',
        data: {
            productRange: pr,
            productCategory: pcategory,
            sort: sort,
            search: search
        },
        method: 'post',
        success: (response) => {
			console.log(response,'response')
            if (response.noProducts) {
                Swal.fire({
                    title: 'No Matching Products',
                    confirmButtonText: 'Ok',
                    confirmButtonColor: '#88c8bc',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/productList';
                    }
                });
            } else {
				
                updateProducts(response.products);
				
            }
        }
    });
});
			{{!-- selectElement.addEventListener('change', function () {
				const selectedIndex = this.selectedIndex;
				const selectedOption = this.options[selectedIndex]
				const sortValue = selectedOptions.getAttribute('data-sort');
				sort = sortValue
				console.log(sort, 'sorting')
			}) --}}

			{{!-- paginationContainer.addEventListener('click', (event) => {
				const target = event.target;
				if (target.classList.contains('pagination-button')) {
					page = target.getAttribute('data-page');
					$.ajax({
						url: '/filterProduct',
						data: {
							productRange: pr,
							productCategory: pcategory,
							sort: sort,
							search: search,
							page: page
						},
						method: 'post',
						success: (response) => {
							if (response.noProducts) {
								Swal.fire({
									title: 'No matching Products',
									confirmButtonText: 'OK',
									confirmButtonColor: '#88c8bc',
								}).then((result) => {
									if (result.isConfirmed) {
										window.location.href = 'productList'
									}
								});
							} else {
								updateProducts(response.product);
								updatePagination(response.currentPage, response.totalPage, response.pages)

							}
						}
					})
				}
			}); --}}

			function updateProducts(products) {
				productsContainer.innerHTML = '';
				products.forEach(product => {
					const productHTML =
						`<div class="col-lg-3 col-sm-6 mt-3">
						<a href="/productdetails/${product._id} ">
							    <div class="card" style="border-radius: 1px; border: 1px solid black;">
								<img src="/product-images/${product.Images[0]}" alt="product-image"
									style="width: 200px; height: 250px; " class="img-fluid mx-auto d-block" alt="img">
								<div class="card-body text-center">
									<h5 class="card-title">${product.Name}</h5>
									<p class="card-text">₹${product.Price}</p>

								</div>
							</div>
						</a>
					</div>`

					productsContainer.insertAdjacentHTML('beforeend', productHTML);


				})
			}

			{{!-- function updatePagination(currentPage, totalPage, pages) {
    paginationContainer.innerHTML = ''; // Remove the comma at the end and use a semicolon here
    let paginationHtml = '';
    if (currentPage > 1) {
        paginationHtml += `
        <li style='margin-right: 10px;'>
            <a>
                <button data-page='${currentPage - 1}' class='btn mb-2 btn-secondary pagination-button' id='paginationButton'>Previous</button>
            </a>
        </li>
        `;
    }
    pages.forEach(page => {
        if (page === currentPage) {
            paginationHtml += `
            <li style="margin-right: 10px;" class="active">
                <a href="#">
                    <button type="button" data-page="${page}" class="btn mb-2 btn-primary pagination-button">${page}</button>
                </a>
            </li>
            `;
        } else {
            paginationHtml += `
            <li style="margin-right: 10px;">
                <a>
                    <button type="button" data-page="${page}" class="btn mb-2 btn-secondary pagination-button" id="paginationButton">${page}</button>
                </a>
            </li>
            `;
        }
    });
    if (currentPage < totalPage) {
        paginationHtml += `
        <li style="margin-right: 10px;">
            <a>
                <button data-page="${currentPage + 1}" class="btn mb-2 btn-secondary pagination-button" id="paginationButton">Next</button>
            </a>
        </li>
        `;
    }
    paginationContainer.insertAdjacentHTML('beforeend', paginationHtml); // Correct the typo here
} --}}


		});




	</script>

</body>

</html>